{% layout "server/layouts/base.liquid" %}

{% block content %}
<h1>{{ title }}</h1>
  {% if stops and stops.size > 0 %}
    {% for stop in stops %}
      <div class="stop">
        <summary>
        <h2>{{ stop.stopName }}</h2>
        {% if stop.plannedDeparture %}
          <p>Geplande vertrektijd: {{ stop.plannedDeparture | date: "%H:%M" }}</p>
        {% endif %}
        {% if stop.actualDeparture %}
          <p>Werkelijke vertrektijd: {{ stop.actualDeparture | date: "%H:%M" }}</p>
        {% endif %}
        </summary>
        <details>
        {% if stop.trainImage %}
            <img src="{{ stop.trainImage }}" alt="{{ stop.trainType }}">
          {% endif %}
          <p>Status: {{ stop.status }}</p>
        {% if stop.plannedArrival %}
          <p>Geplande aankomst: {{ stop.plannedArrival | date: "%H:%M" }}</p>
        {% endif %}
        {% if stop.actualArrival %}
          <p>Werkelijke aankomst: {{ stop.actualArrival | date: "%H:%M" }}</p>
        {% endif %}
        {% if stop.platform %}
          <p>Spoor: {{ stop.platform }}</p>
        {% endif %}
        <p>Drukte: {{ stop.crowdForecast }}</p>
        {% if stop.trainType %}
          <p>Trein type: {{ stop.trainType }}</p>
        {% endif %}
        {% if stop.facilities and stop.facilities.size > 0 %}
          <p>Faciliteiten: {{ stop.facilities | join: ", " }}</p>
        {% endif %}
        </details>
      </div>
    {% endfor %}
  {% else %}
    <p>Geen stops gevonden.</p>
  {% endif %}

<p><a href="/">← Terug naar Home</a></p>
{% endblock %}
