{% layout "server/layouts/base.liquid" %}

{% block content %}

<form action="/departures" method="GET">
  <label for="lat">Latitude:</label>
  <input type="text" id="lat" name="lat">

  <label for="lng">Longitude:</label>
  <input type="text" id="lng" name="lng">

  <button type="submit">Zoek station</button>
</form>

<button id="getLocation">Vind dichtstbijzijnde station</button>
{% if station %}
<p id="stationResult">Dichtstbijzijnde station: {{ station }}</p>
{% else %}
<p id="stationResult">Geen station gevonden.</p>
{% endif %}
<ul id="departuresList">
  {% if departures %}
  {% for dep in departures %}
  <li>
    <a href="/departure/{{ dep.number }}">
      {{ dep.direction }} - {{ dep.time }} - Spoor {{ dep.track }} - {{ dep.product }}
    </a>
  </li>
  {% endfor %}
  {% else %}
  <li>Nog geen vertrektijden beschikbaar.</li>
  {% endif %}
</ul>


{% endblock %}