{% layout "server/layouts/base.liquid" %}

{% block content %}
<div class="stationSearch">
  <form action="/departures" method="GET">
    <label for="adres">Adres:</label>
    <input type="text" id="adres" name="adres">
    <button type="submit">Zoek station</button>
  </form>
  <button id="getLocation">Vind dichtstbijzijnde station</button>
  <p id="permissionMessage"></p>
  <ul id="suggestions" class="suggestions-list"></ul>
</div>

{% if station %}
<div class="station">
  <h2 class="station-content" id="stationResult">{{ station }}</h2>
</div>
{% else %}
<h2 id="stationResult">Geen station gevonden.</h2>
<p>Vul een adres in of zoek jouw dichtstbijzijnde station.</p>
{% endif %}
<ul class="departures">
  {% if departures %}
  {% for dep in departures %}
    <div>
      <li>      
        <a href="/departure/{{ dep.number }}">
          <div class="departure-info">
            <h3>{{ dep.direction }}</h3>
            <span class="tijd">{{ dep.time | date: "%H:%M" }}</span>
            <span class="spoor">spoor {{ dep.track }}</span>
            <span class="product">{{ dep.product }}</span>
          </div>
          {% if dep.trainImage %}
            <img src="{{ dep.trainImage }}" alt="Train Image" data-offset="{{ dep.offset }}" class="train-image" />
          {% endif %}
        </a>
      </li>
    </div>
  {% endfor %}
  {% endif %}
</ul>

{% endblock %}