{% layout "server/layouts/base.liquid" %}

{% block content %}
<div class="stationSearch">
  <form action="/departures" method="GET">
    <label for="adres">Adres:</label>
    <input type="text" id="adres" name="adres">
    <button type="submit">Zoek station</button>
    <button id="getLocation">Vind dichtstbijzijnde station</button>
  </form>
  <ul id="suggestions" class="suggestions-list"></ul>
</div>

{% if station %}
<div class="station">
  <h2 class="station-content" id="stationResult">{{ station }}</h2>
</div>
{% else %}
<h2 id="stationResult">Geen station gevonden.</h2>
<p>Vul een adres in of zoek jouw dichtstbijzijnde station.</p>
{% endif %}
<ul class="departures">
  {% if departures %}
  {% for dep in departures %}
    <div>
      <li>      
        <a href="/departure/{{ dep.number }}">
          <div class="departure-info">
            <div>
              <span>{{ dep.direction }}</span>
              <span>{{ dep.time | date: "%H:%M" }}</span>
            </div>
            <span class="spoor">spoor {{ dep.track }}</span>
            <span class="product">{{ dep.product }}</span>
          </div>
          <img src="{{ dep.trainImage }}" alt="Train Image"/>
        </a>
      </li>
    </div>
  {% endfor %}
  {% endif %}
</ul>

{% endblock %}